


a {
		font: 12px Arial, sans-serif;
		font-weight: bold;
		color:#003399;
}

h1 {
		font: 18px Verdana, sans-serif;
		font-weight: bold;
		color:#009900;
		text-decoration:none;
		padding-right: 50px;
		
}

h3 {
		font: 14px Verdana, sans-serif;
		font-weight: bold;
		color:#009900;
		text-decoration:none;
		
}

select {
		
	color: #240B00;
	font-family: Verdana;
	font-size: 12px;

}


h2 {
		font: 14px Arial, sans-serif;
		font-weight: bold;
		color:orange;
		text-decoration:none;
}

.label{	width:250px;
		float:left;}

.linkComEspaco {
	padding-right: 10px;
}

.espacoRight {
	padding-right: 20px;
}

.imageLink {
	border: none;
	background: white;
}

.centerPage {
	
	 
	margin-left:auto; 
    margin-right:auto;
	text-align:-moz-center;
	#text-align:center;
    
	
}


.leftPage {
	
	 
	margin-left:auto; 
    margin-right:auto;
	text-align:-moz-left;
	#text-align:left;
    
	
}
.colunaFormula{
	margin-left:auto; 
    margin-right:auto;
	text-align:-moz-center;
	#text-align:center;
	vertical-align: center;
	
}


.centerPage2 {
	
	 
	margin-left:auto; 
    margin-right:auto;

	
}
.leftAlign {
	margin:auto;
	padding:auto;
	text-align:left; /* hack para o IE */ 
	
}
.label {
	font: 11px Arial, sans-serif;
	font-weight: bold;
	color: #333333

}

.msgErro {
	font: 11px Arial, sans-serif;
	color: red;
}

.msgAlerta {
	font: 11px Arial, sans-serif;
	font-weight: bold;
	color: red;
}

.msgInfo {
	font: 15px Arial, sans-serif;
	font-weight: bold;
	color: blue;
	
}




.botao {
	background-color: #999999;
	color: #FFFFFF;
	bolder: 1px outset;
}




.tabela {
	border: 0px solid #666666;
	color:#3E5740;
}

.cabecalhoTabela {
	text-align:center;
	font: 13px Arial, sans-serif;
	font-weight:bold;
	color: Green;
	background:#BFF08E;
}

.corpoTabela {
	text-align:left;
	font: 12px Arial, sans-serif;
	font-weight:bold;
	color: black;
	
}


.linha1Tabela {
	font: 11px Arial, sans-serif;
	font-weight:bold;
	background: #E7E7E7;

}

.linhaAvaliador {
	font: 11px Arial, sans-serif;
	font-weight:bold;
	background: orange;

}

.linha2Tabela {
	font: 11px Arial, sans-serif;
	font-weight:bold;
	background:#FAFAFA;
	
}

.colunaTipo {
	width: 20px;
	text-align: center;
	color:#3E5740;
}

.colunaPessoa {
	width: 100px;
	color:#3E5740;

}

.colunaDescricao {
	color:#3E5740
}

.colunaValor {
	width: 100px;
	text-align:center;
	color:#3E5740;
}

.colunaAberta {
	width: 80px;
	text-align:center;
}

.colunaAcoes {
	width: 40px;
	text-align:center;
}

.colunaPadrao {
	width: 40px;
	text-align:center;
	margin-left:auto; 
    margin-right:auto;
}

.botao {
	background-color: #D7D7D7;
	color: black;
	bolder: 1px outset;
	
}



.nota {
	font: 11px Arial, sans-serif;
	font-weight: bold;
	color: #000000
}

.tituloEscala {
	font: 14px Arial, sans-serif;
	color: black;
	font-weight: bold;
	background: #D7D2D3;
	text-align: left;
}

.linhaEscala {
	font: 13px Arial, sans-serif;
	color: #6D1797;
	font-weight: bold;
	background: #D7D2D3;
	text-align: left;
}

.linhaInstrucao {
	font: 13px Arial, sans-serif;
	color: #6D1797;
	font-weight: bold;
	text-align: center;
}

.linha2 {
	font: 11px Arial, sans-serif;
	color: #543E97;
	background: #A5AFA5;
	
}